<header>
    <h2>MShare - Sharing Your Favorite Music</h2>

</header>
<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">Get to Know Us</a></li>
        <li><a href="/contact">Reach Us</a></li>
        <li><a href="/accounts">View All Accounts</a></li>
        <li><a href="playlists">View All Playlists</a></li>
        <li><a href="/your-playlists">Your Playlists</a></li>
        <li><a href="/create-playlist">Create a Playlist</a></li>
        <li><a href="login">LogIn</a></li>
        <li><a href="/signup">SignUp</a></li>
    </ul>
</nav>