<h1>Create a Playlist</h1>
<form action="" method="POST">
<div>
    <input type="text" name="track" placeholder="Enter Track Name">
</div>
<br>
<div>
    <input type="text" name="trackartist" placeholder="Enter Artist's Name">
</div>
<br>
<div>
    <input type="text" name="trackgenre" placeholder="Enter Track Genre">
</div>
<br>
<input type="submit" value="Add To My Playlists">
</form>
