<h1>Edit Account</h1>
<form action="" method="POST">
<div>
    <input type="text" name="name" value="{{account.name}}">
</div>
<div>
    <input type="text" name="favoritegenre" value="{{account.favorite}}">
</div>
<input type="submit" value="Update Account">
</form>