<h1>Edit Playlist</h1>
<form action="" method="POST">
<div>
    <input type="text" name="song" value="{{playlist.song}}">
</div>
<div>
    <input type="text" name="artist" value="{{playlist.artist}}">
</div>
<div>
    <input type="text" name="genre" value="{{playlist.genre}}">
</div>
<input type="submit" value="Update Playlist">
</form>