 <main>
            <h1 id="title">Welcome to the home page!</h1>
            <section>
                <h1>Make your music playlists. Share. Let the world see your choice of music!</h1>
            </section>
        </main>